@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
div{
    box-sizing: border-box;
    outline:0;
    appearance:none !important;
}
.wrap{
    width:850px;/*170*6칸*/
}
.wrap button {
    cursor:pointer; /*마우스를 올렸을 때 커서를 클릭 가능한 모양으로*/
    text-shadow:none !important; /*글자 그림자 없음*/
    border-radius:0 !important; /*테두리 둥글게 없음*/
    box-shadow:none !important;  /*박스 그림자 없음*/
    padding:0 !important;
    margin:0 !important;
}
.wrap button:before {
    display:none !important;
}
.wrap .character_img{
    width: 340px;/*가로길이 2칸*/
    height: 340px;/*세로길이 2칸*/
    background-color: #f1f3f5;
    display: inline-block;
}
.wrap .character_info{
    width: 510px;/*가로길이 2칸*/
    height: 340px;/*세로길이 2칸*/
    background-color: #f1f3f5;
    float : right;
    text-align: right;
}
.wrap .character_info input{
    border: none;
}
.wrap .character_info .info_container{
    margin:45px;/*테두리부터 바깥까지 간격 상하좌우 45px*/
    width:250px; /*이름 넣을 공간 가로크기*/
    height: 250px;/*이름 넣을 공간 세로크기*/
    overflow:hidden;/*공간을 넘어가면 넘어간부분 숨김*/
    box-sizing:border-box; /*테두리 부분 가로길이에 포함*/
    background:#f1f3f5;
}
.wrap .character_info .line{
    border-bottom: 2px dashed #eee; /*밑에 실선*/
    width: 100%;
    display: flex;/*안의 요소 가로로 순차 배열*/
    font-size: 16px;
    box-sizing:border-box; /*테두리 부분 가로길이에 포함*/
}
.wrap .character_info .line span{
    display: inline-block;/*가로길이 제어를 위해 넣음*/
    width: 40%;
    text-align: center;
    font-family: var(--sheet-font-goose);
    font-weight: bold;
    font-size: 14px;
    border-right: 2px dashed #eee; /*우측에 실선*/
    box-sizing:border-box; /*테두리 부분 가로길이에 포함*/
}
.wrap .character_info .line input{
    display: inline-block; /*가로길이 제어를 위해 넣음*/
    border: none; /*테두리 없음*/
    width: 60%;
    text-align: center; /*오른쪽 정렬 없음*/
    font-family: var(--sheet-font-normal);
    outline: none;/*선택 시 외곽선 없음*/
    border-radius: 0%;
}
.wrap .logo{
    width: 850px;
    height: 170px;
    background-color: #f1f3f5;
    background-image: url("https://i.imgur.com/UNnQBV5.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.wrap .stats{
    width: 850px;
    height: 340px;
    background-color: #f1f3f5;
}
.wrap .battle{
    width: 850px;
    height: 340px;
    background-color: #f1f3f5;
}
.wrap .battle .line{
    border-bottom: 2px dashed #eee; /*밑에 실선*/
    width: 100%;
    display: flex;/*안의 요소 가로로 순차 배열*/
    font-size: 16px;
    box-sizing:border-box; /*테두리 부분 가로길이에 포함*/
}
.wrap .battle .line span{
    display: inline-block;/*가로길이 제어를 위해 넣음*/
    width: 40%;
    text-align: center;
    font-family: var(--sheet-font-goose);
    font-weight: bold;
    font-size: 14px;
    border-right: 2px dashed #eee; /*우측에 실선*/
    box-sizing:border-box; /*테두리 부분 가로길이에 포함*/
}
.wrap .battle .line input{
    display: inline-block; /*가로길이 제어를 위해 넣음*/
    border: none; /*테두리 없음*/
    width: 60%;
    text-align: center; /*오른쪽 정렬 없음*/
    font-family: var(--sheet-font-normal);
    outline: none;/*선택 시 외곽선 없음*/
    border-radius: 0%;
}
.wrap .item{
    width: 425px;
    height: 340px;
    background-color: #f1f3f5;
    display: inline-block;
}
.wrap .memo{
    width: 425px;
    height: 340px;
    background-color: #f1f3f5;
    float : right;
}
.wrap .character_img .img_border{
    margin:45px;/*테두리부터 바깥까지 간격 상하좌우 45px*/
    width:250px; /*인장 넣을 공간 가로크기*/
    height: 250px;/*인장 넣을 공간 세로크기*/
    overflow:hidden;/*이미지가 공간을 넘어가면 넘어간부분 숨김*/
    box-sizing:border-box; /*테두리 부분 가로길이에 포함*/
    background:#aec9d290;
}
.wrap .character_img .img_border img{
    display: block;
    width:100%; /*인장 넣을 공간 가로크기*/
    height: 100%;/*인장 넣을 공간 세로크기*/
}
.wrap .dice1{
    box-sizing:border-box;
    width: 20px;
    height: 20px;
    background-image: url("https://i.imgur.com/Eus9U0z.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}